:root {
    --primary-ft: 'Outfit', sans-serif;
    --title-clr: hsl(0, 0%, 100%);
    --txt-clr: hsl(215, 51%, 70%);
    --accent-clr: hsl(178, 100%, 50%);
    --accent-clr-alpha: hsla(178, 100%, 50%, 0.438);
    --bg-clr: hsl(217, 54%, 11%);
    --card-shadow: hsl(214, 54%, 5%);
    --card-bg-clr: hsl(216, 50%, 16%);
    --line-clr: hsl(215, 32%, 27%);
}