@use '../util' as u;

.btn {
    cursor: pointer;
    background-color: var(--accent-clr);
    border: none;
    border-radius: 10px;
    color: var(--card-bg-clr);
    width: 85%;
    padding: u.toRem(16);
    transition: background-color .3s ease-in-out;

    &:hover, &:focus {
        background-color: var(--hover-clr);
    }

    &:focus {
        outline: none;
    }

    &__payment {
        margin-bottom: u.toRem(32);
        box-shadow: 0px 15px 20px var(--shadow-clr);
    }
}