:root {
    --primary-ft: 'Overpass', sans-serif;
    --accent-clr: hsl(25, 97%, 53%);
    --title-clr: hsl(0, 0%, 100%);
    --txt-clr: hsl(217, 12%, 63%);
    --rating-clr: hsl(216, 12%, 54%);
    --comp-bg-clr: hsl(213, 19%, 18%);
    --circle-clr: hsl(214, 18%, 23%);
    --bg-clr: hsl(216, 12%, 8%);
}