@use '../util' as u;

.rating {
    background-color: var(--comp-bg-clr);
    padding: u.toRem(35);
    border-radius: 20px;

    .circle-star {
        width: u.toRem(34);
        padding: u.toRem(10);
        border-radius: 50%;
        background-color: var(--circle-clr);
    }

    h2 {
        color: var(--title-clr);
        font-weight: inherit;
    }

    .circle-star, h2 {
        margin-bottom: u.toRem(16);
    }

    p {
        margin-bottom: u.toRem(20);
    }

    .ratings {
        margin-bottom: u.toRem(20);
    }

    .centered {
        text-align: center;
    }

    .thank-you-img {
        display: block;
        margin: 0 auto u.toRem(25) auto;
    }

    .thanks-text {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: u.toRem(8) u.toRem(14) u.toRem(4);
        color: var(--accent-clr);
        background-color: var(--circle-clr);
        border-radius: 20px;
        margin-bottom: u.toRem(20);
    }

    .thanks-p {
        margin-bottom: 0;
    }
}