:root {
    --primary-ft: 'Kumbh Sans', sans-serif;

    --card-bg-clr: hsl(0, 0%, 100%);
    --bg-clr: hsl(185, 75%, 39%);
    --title-clr: hsl(229, 23%, 23%);
    --txt-clr: hsl(227, 10%, 46%);
    --shadow-clr: hsla(0, 0%, 31%, 0.705);
    --hr-clr: hsla(0, 0%, 59%, 0.363);
}