@use '../util' as u;

.learn {
    padding: u.toRem(40);

    img {
        margin-bottom: u.toRem(24);

        @include u.breakpoint('large'){
            margin-bottom: u.toRem(28);
        }
    }

    h2 {
        color: var(--title-clr);
    }

    p {
        margin-bottom: u.toRem(25);

        @include u.breakpoint('large'){
            margin-bottom: u.toRem(90);
        }
    }

    &-orange {
        border-radius: 10px 10px 0 0;
        background-color: var(--section-one-clr);

        @include u.breakpoint('large'){
            border-radius: 10px 0 0 10px;
        }
    }

    &-blue {
        background-color: var(--section-two-clr);
    }

    &-green {
        border-radius: 0 0 10px 10px;
        background-color: var(--section-three-clr);

        @include u.breakpoint('large'){
            border-radius: 0 10px 10px 0;
        }
    }
}