:root {
    --primary-ft: 'Lexend Deca', sans-serif;
    --secondary-ft: 'Big Shoulders Display', cursive;

    --title-clr: hsl(0, 0%, 95%);
    --bg-clr: hsla(0, 0%, 100%, 0.75);
    --section-one-clr: hsl(31, 77%, 52%);
    --section-two-clr: hsl(184, 100%, 22%);
    --section-three-clr: hsl(179, 100%, 13%);
}