:root {
    --primary-ft: 'Montserrat', sans-serif;
    --secondary-ft: 'Fraunces', serif;
    --accent-clr: hsl(158, 36%, 37%);
    --btn-hover-clr: hsl(158, 36%, 26%);
    --bg-clr: hsl(30, 38%, 92%);
    --title-clr: hsl(212, 21%, 14%);
    --text-clr: hsl(228, 12%, 48%);
    --comp-bg-clr: hsl(0, 0%, 100%);
}